
<div class="form-group">
	<label class="col-sm-2 control-label">所属部门：</label>
	<div class="col-sm-7">
		<input type="hidden" id="deptId" name="user.departmentids" value="${escapeXml(dept.ids!)}"/>
		<input type="text" id="deptName" value="${escapeXml(dept.names!)}"
			   class="form-control focused" readonly="readonly" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2" style="margin-top: 0px;">
		<a href="#" data-toggle="modal" class="ajaxDialog btn btn-blue" 
			data-url="/jf/platform/dept/toUrl"
			data-param='{ "toUrl" : "/platform/department/radio.html", "ids" : "${escapeXml(user.departmentids!)}", "deptId" : "deptId", "deptName" : "deptName" }'>
			${i18nMap["admin.common.choice"]}
		</a>
	</span>
</div>
<!--2016hjw
<div class="form-group">
	<label class="col-sm-2 control-label">${i18nMap["admin.user.property.station"]}</label>
	<div class="col-sm-7">
		<input type="hidden" id="stationId" name="user.stationids" value="${escapeXml(user.stationids!)}"/>
		<input type="text" id="stationName" name="user.stationnames" value="${escapeXml(user.stationnames!)}" 
			class="form-control" readonly="readonly" maxlength="100" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2" style="margin-top: 0px;">
		<a href="#" data-toggle="modal" class="ajaxDialog btn btn-blue" 
			data-url="/jf/platform/station/toUrl"
			data-param='{ "toUrl" : "/platform/station/radio.html", "ids" : "${escapeXml(user.stationids!)}", "stationId" : "stationId", "stationName" : "stationName" }'>
			${i18nMap["admin.common.choice"]}
		</a>
	</span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">${i18nMap["admin.user.property.dataAccess"]}</label>
	<div class="col-sm-7">
		<input type="hidden" id="deptId2" name="user.deptids" value="${escapeXml(user.deptids!)}" />
		<input type="hidden" id="deptName2" name="user.deptnames" value="${escapeXml(user.deptnames!)}" />
		
		<input type="hidden" id="userId" name="user.userids" value="${escapeXml(user.userids!)}" />
		<input type="text" id="userName" name="user.usernames" value="${escapeXml(user.usernames!)}" 
			class="form-control" readonly="readonly" maxlength="10000" vMin="1" vType="length" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2" style="margin-top: 0px;">
		<a href="#" data-toggle="modal" class="ajaxDialog btn btn-blue" 
			data-url="/jf/platform/user/toUrl"
			data-param='{ "toUrl" : "/platform/user/checkbox.html", "checkedDeptIds" : "${escapeXml(user.deptids!)}", "checkedUserIds" : "", "userId" : "userId", "userName" : "userName", "deptIds" : "deptIds", "deptNames" : "deptNames" }'>
			${i18nMap["admin.common.choice"]}
		</a>
	</span>
</div>
-->

<div class="form-group">
	<label class="col-sm-2 control-label">账号：</label>
	<div class="col-sm-7">
		<input type="text" id="usernameId" name="user.username" value="${escapeXml(user.username!)}"
			   class="form-control" maxlength="16" vMin="5" vType="letterNumber" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 5-16位字母数字 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">密码：</label>
	<div class="col-sm-7">
		<input type="password" id="pass1Id" name="password" class="form-control" autocomplete="off"
			   maxlength="18" vMin='<%if(operatorType == "add"){print("6");}else{print("0");}%>' vType="letterNumber" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 6-18位字母数字 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">重输密码：</label>
	<div class="col-sm-7">
		<input type="password" id="pass2Id" class="form-control" autocomplete="off"
			   maxlength="18" vMin='<%if(operatorType == "add"){print("6");}else{print("0");}%>' vType="letterNumber" onblur="platform_verify.onblurVali(this);">
	</div>
	<span class="help-inline col-sm-2"> <i class="fa fa-info-circle"></i> 6-18位字母数字 </span>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">身份证号：</label>
	<div class="col-sm-7">
		<input type="text" id="idcardId" name="user.idcard" value="${escapeXml(user.idcard!)}"
			class="form-control" maxlength="18" vMin="15" >
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">姓名：</label>
	<div class="col-sm-7">
		<input type="text" name="user.names" value="${escapeXml(user.names!)}"
			class="form-control" maxlength="10" vMin="2" >
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">手机：</label>
	<div class="col-sm-7">
		<input type="text" id="mobileId" name="user.mobile" value="${escapeXml(user.mobile!)}"
			   class="form-control" maxlength="11" vMin="11" >
	</div>
</div>


<div class="form-group">
	<label class="col-sm-2 control-label">邮箱：</label>
	<div class="col-sm-7">
		<input type="text" id="mailboxId" name="user.email" value="${escapeXml(user.email!)}"
			class="form-control" maxlength="30" vMin="6" >
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">电话：</label>
	<div class="col-sm-7">
		<input type="text" name="userInfo.telephone" value="${escapeXml(userInfo.telephone!)}"
			   class="form-control" maxlength="20" vMin="0" >
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">QQ：</label>
	<div class="col-sm-7">
		<input type="text" name="userInfo.qq" value="${escapeXml(userInfo.qq!)}" 
			class="form-control" maxlength="20" vMin="0" >
	</div>
</div>

<div class="form-group">
	<label class="col-sm-2 control-label">生日：</label>
	<div class="col-sm-7">
		<input type="text" name="userInfo.birthday" readonly="readonly" 
			value='${userInfo.birthday!, dateFormat="yyyy-MM-dd"}' 
  			data-date-format="yyyy-mm-dd" data-date-viewmode="years" class="form-control date-picker">
	</div>
</div>

<script type="text/javascript" src="${cxt!}/jsFile/rapido/platform/user/form.js"></script>

<script type="text/javascript">
	jQuery(document).ready(function() {
		common_form.init();
	});
</script>